{
	"LogLevel": 3,
	"LogPath": "parse.log",
	"EQLogPath": "C:\\Program Files (x86)\\Steam\\steamapps\\common\\Everquest F2P\\Logs\\eqlog_Mortimus_aradune.txt",
	"EQBaseLogLine": "\\[(\\w{3} \\w{3} \\d{2} \\d{2}:\\d{2}:\\d{2} \\d{4})] (.+)",
	"ReadEntireLog": true,
	"LogPollRate": 6,
	"LucyItems": "itemlist.txt",
	"BidTimerMinutes": 3,
	"MinimumBid": 10,
	"BidIncrements": 5,
	"LucyURLPrefix": "https://lucy.allakhazam.com/item.html?id=",
	"DiscordToken": "MY_DISCORD_TOKEN",
	"LootChannelID": "DISCORD_CHANNEL_FOR_LOOT",
	"InvestigationChannelID": "DISCORD_CHANNEL_FOR_INVESTIGATION_DUMPS",
	"InvestigationLogLimitMinutes": 150,
	"DiscordLootIcon": "IMAGE_URL_FOR_LOOT_OUTPUT",
	"InvestigationStartEmoji":"🔎",
	"InvestigationStartMinReq": 1,
	"GuildRaidingRoles":["<<< Raid/Class Lead/Recruitment >>>","Raider","<<< Officer >>>", "<<< Guild Leader >>>"],
	"RegexIsAlt":"(\\w+)('s)?\\s+([Aa][Ll][Tt])",
	"RegexIs2ndMain":"(\\w+)('s)?\\s+(2([Ss]eco)?nd\\s?[Mm]ain)",
	"access_token": "GOOGLE_ACCESS_TOKEN",
	"token_type": "Bearer",
	"refresh_token": "GOOGLE_REFRESH_TOKEN",
	"expiry": "GOOGLE_TOKEN_EXPIRATION_DATE",
	"client_id": "GOOGLE_CLIENT_ID",
	"project_id": "GOOGLE_PROJECT_ID",
	"auth_uri": "https://accounts.google.com/o/oauth2/auth",
	"token_uri": "https://oauth2.googleapis.com/token",
	"auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
	"client_secret": "GOOGLE_CLIENT_SECRET",
	"redirect_uris": [
		"urn:ietf:wg:oauth:2.0:oob",
		"http://localhost"
	],
	"DKPSheetURL":"GOOGLE_SHEETS_ID",
	"DKPSummarySheetName":"SHEET_NAME",
	"DKPSummarySheetPlayerCol":2,
	"DKPSummarySheetDKPCol":6,
	"DiscordPrivRoles":["ADMIN","OFFICER"],
	"DiscordGuildID":"DISCORD_GUILD_ID",
	"RegexClosedBid":"'(.+?)x?(\\d)?\\s+([Bb][Ii][Dd][Ss])?([Tt][Ee][Ll][Ll][Ss])?\\sto\\s.+,?.+([Cc][Ll][Oo][Ss][Ee][Dd]).*'",
	"RegexOpenBid":"'(.+?)x?(\\d)?\\s+([Tt][Ee][Ll][Ll][Ss])?([Bb][Ii][Dd][Ss])?\\sto\\s.+,?.+(\\d+).*'",
	"RegexTellBid":"'(.+)\\s+(\\d+).*'",
	"GuildName":"MY_GUILD_NAME",
	"EQBaseFolder":"C:\\Program Files (x86)\\Steam\\steamapps\\common\\Everquest F2P",
	"BidsOnlyCloseAutomatically":true
}